body {
}

h1 {
  text-align: center;
}

#controls {
  margin-bottom: 10px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#sinr-chart, #thrput-chart {
  text-align: center;
}
